<!DOCTYPE HTML>
<html>
<head>
	<title>{{ title }}</title>

	<link rel="stylesheet" href="{{ asset('css/blueprint/screen.css') }}" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ asset('css/blueprint/print.css') }}" type="text/css" media="print">
    <link rel="stylesheet" href="{{ asset('css/main.css" type="text/css') }}" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="{{ asset('js/wmd/wmd.css') }}">
    <script type="text/javascript" src="{{ asset('js/wmd/wmd.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/wmd/showdown.js') }}"></script>
</head>
<body>
<div class="container">
	{% block content %}{% endblock %}
</div>
</body>
</html>